<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Document</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
    <form action="/get-form-data" method="post">
        <input placeholder="Enter Your username" type="text" name="username" id="#">
        <input placeholder="Enter Your email" type="email" name="email" id="#">
        <input placeholder="Enter Your password" type="password" name="password" id="#">
        <button type="submit">Submit</button>
    </form>
<h1>Lorem ipsum dolor sit amet.</h1>
    <script src="loop.js"></script>
</body>
</html>